<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">

    <title>About</title>
</head>
<body>
    <div class="navshadow">
    <div class="navcontainer">
        <h1 class="navlogo">
            VestiGo
        </h1>
        <ul class="navholder">
            <li class="navli"><a href="/map" class="navlink">Map</a></li>
            <li class="navli"><a href="/" class="navlink"><span class="underline">Search</span></a></li>
            <li class="navli"><a href="/api" class="navlink">API</a></li>
        </ul>
    </div>
    </div>
    <header>
        <div class="left">
            <div class="toptextcontainer">
                <h1>Making Traveling Safe Again.</h1>
                <p class="toptext">
                    VestiGo aims to provide a database accessible to everyone, allowing users to track the exact number of people present at restaurants, bars, hotels, malls and other public locations near them, preventing crowds and enabling people to visit these places safely.
                </p>
                <a class="video" href="#">
                    Watch demo video
                </a>
            </div>
        </div>
        <div class="right">
            <img class="topimg" src="https://cdn.discordapp.com/attachments/488292692976205826/743585086162599986/unknown.png">
        </div>
    </header>
    <section class="working">
        <div class="left2">
            <img class="topimg2" src="https://cdn.discordapp.com/attachments/488292692976205826/743585920531431577/unknown.png">
        </div>
        <div class="right2">
            <div class="toptextcontainer2">
                <h1 class="title2">How it works</h1>
                <p class="text2">
                    We partner with both small and big establishments and provide them with an API, which they can implement in their software to log every person that enters and exits their locations. This allows them to easily track the number of people present at these locations at any given time. This data is made visible to the public on our website. This will help drive customers to said establishments, as it will provide them with reassurance of safety and certainty about their surroundings; users will be able to use this data while planning trips. If an establishment is at more than 60% of its capacity, it will be deemed unsafe, and users will be warned.<br>
                    The API can also be used by organisations for other purposes and on other platforms. For instance, hotel booking sites
                </p>
            </div>
        </div>
    </section>
    <section class="orange">
        <div class="centered2">
            <h1 class="future" id="not">Business Model</h1>
            <hr id="notnot">
            <div class="bcontainer"><img class="inbus" src="https://cdn.discordapp.com/attachments/488292692976205826/743594793006792834/undraw_financial_data_es63.svg">
                <h1 class="titleb">
                    API Licensing
                </h1>
                <p class="binfo">
                    A major aspect of the VestiGo business model is licensing the API to companies that wish to use it for commercial purposes . This will be a freemium model where our customers will have free access for a limited period after which a monthly fee will be charged.
                </p>
            </div>
            <div class="bcontainer" id="center">
                <img class="inbus" src="https://cdn.discordapp.com/attachments/488292692976205826/743596653273153576/undraw_hiring_cyhs.svg" id="hire">
                <h1 class="titleb">
                    Subscriptions 
                </h1>
                <p class="binfo">
                    Establishments that wish to be publicly listed on our website, must pay a small monthly fee. Displaying live updates about their capacity will help them be transparent with customers, help boost PR and in turn, allow customers to feel safe while visiting these places.
                </p>
            </div>
            <div class="bcontainer" id="right">
                <img class="inbus" id="rain" src="https://cdn.discordapp.com/attachments/488292692976205826/743597358201176154/undraw_make_it_rain_iwk4.svg" id="hire">
                <h1 class="titleb">
                    Advertisements
                </h1>
                <p class="binfo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales metus ante, ut suscipit elit iaculis non. Phasellus at ante elementum, viverra justo sed, pretium lorem. Duis malesuada, nisi a ultricies interdum, nibh nunc finibus massa, ac condimentum odio purus luctus tortor. Nam vitae venenatis dolor. Mauris accumsan tincidunt massa nec tincidunt. Integer dapibus arcu eget enim bibendum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales metus ante, ut suscipit elit iaculis non. Phasellus at ante elementum, viverra justo sed, pretium lorem. Duis malesuada, nisi a ultricies interdum, nibh nunc finibus massa, ac condimentum odio purus luctus tortor. Nam vitae venenatis dolor. Mauris accumsan tincidunt massa nec tincidunt.
                </p>
            </div>
                
        </div>
    </section>
    <section class="last">
        <div class="centered">
            <h1 class="future">Future Prospects</h1>
            <hr>
            <p class="whitetext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales metus ante, ut suscipit elit iaculis non. Phasellus at ante elementum, viverra justo sed, pretium lorem. Duis malesuada, nisi a ultricies interdum, nibh nunc finibus massa, ac condimentum odio purus luctus tortor. Nam vitae venenatis dolor. Mauris accumsan tincidunt massa nec tincidunt. Integer dapibus arcu eget enim bibendum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales metus ante, ut suscipit elit iaculis non. Phasellus at ante elementum, viverra justo sed, pretium lorem. Duis malesuada, nisi a ultricies interdum, nibh nunc finibus massa, ac condimentum odio purus luctus tortor. Nam vitae venenatis dolor. Mauris accumsan tincidunt massa nec tincidunt.
            </p>
        </div>
    </section>
    <footer>
        <p class="mwl">
            Made with &lt;/3 by CW
        </p>
    </footer>
</body>
</html>