<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/doc.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar3.css">

    <title>Document</title>
</head>
<body>
    <div class="navshadow">
    <div class="navcontainer">
        <h1 class="navlogo">
            VestiGo
        </h1>
        <ul class="navholder">
            <li class="navli"><a href="/map" class="navlink">Map</a></li>
            <li class="navli"><a href="/about" class="navlink">About</a></li>
            <li class="navli"><a href="/api/register" class="navlink"><span class="underline">Register</span></a></li>
        </ul>
    </div>
    </div>
    <div class="sidenavcontainer">
        <ul class="sidenav">
            <li class="sidenavli" id="n1"><a class="item" href="/api">Overview</a></li>
            <li class="sidenavli" id="n2"><a class="item" href="/auth">Authentication</a></li>
            <li class="sidenavli" id="n3"><a class="item" href="/routes">Routes</a></li>
            <li class="sidenavli" id="n4"><a class="item" href="/errors">Errors</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="left">
            <div class="textholder">
                <h1 class="title">Vestigo Api Docs</h1>
                <p class="text">
                    The VestiGo API allows organizations to integrate our data into their own software to log the number of people across their locations. This data is displayed on our website, available to the public.
                </p>
                <div class="auth"><a href="/auth">Authentication</a></div>
                <img class="arrow" src="https://cdn.discordapp.com/attachments/488292692976205826/743563961051381912/right-arrow.png">
            </div>
        </div>
        <div class="right">
            <img class="pic" src="https://cdn.discordapp.com/attachments/488292692976205826/743521960675377232/undraw_my_current_location_om7g.svg">
        </div>
    </div>
</script>
</body>
</html>