<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar3.css">

    <title>Document</title>
</head>
<body>
    <div class="navshadow">
    <div class="navcontainer">
        <h1 class="navlogo">
            VestiGo
        </h1>
        <ul class="navholder">
            <li class="navli"><a href="/map" class="navlink">Map</a></li>
            <li class="navli"><a href="/about" class="navlink">About</a></li>
            <li class="navli"><a href="/api" class="navlink"><span class="underline">API</span></a></li>
        </ul>
    </div>
    </div>
    <div class="sidenavcontainer">
        <ul class="sidenav">
            <li class="sidenavli" id="n1"><a class="item" href="/api">Overview</a></li>
            <li class="sidenavli" id="n2"><a class="item" href="/auth">Authentication</a></li>
            <li class="sidenavli" id="n3"><a class="item" href="/routes">Routes</a></li>
            <li class="sidenavli" id="n4"><a class="item" href="/errors">Errors</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="textcontainer">
            <h1 class="title">Authentication</h1>
            <p class="aboveauth">VestiGo uses header authentication, of the format: </p>
            <div class="format"><p class="formatholder">auth: &lt;&lt;apiKey&gt;&gt;</p></div>
            <p class="downauth">Without this header, the API will raise a 403(Unauthorized) error</p>
            <div class="auth"><a href="/routes">Routes</a></div>
                <img class="arrow" src="https://cdn.discordapp.com/attachments/488292692976205826/743563961051381912/right-arrow.png">
        </div>
    </div>
</script>
</body>
</html>