<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <section class="background">

    </section>
    <div class="navcontainer">
        <h1 class="navlogo">
            VestiGo
        </h1>
        <ul class="navholder">
            <li class="navli"><a href="#" class="navlink">Logout</a></li>
        </ul>
    </div>
    <div class="apikeycontainer">
        <div class="apikeytextcontainer">
            <br>
            <h1 class="apikeytitle">Profile</h1>
            <h1 class="apikeytext">API Key</h1>
            <br>
            <div class="apikey"><span class="key"><%= token %></span></div>
            <br>
            <br>
            <br>
            <a class="apikeyview"><span class="doc">View Docs</span></a>
        </div>
    </div>
</body>
</html>
